body 
{
  background-color: #dcd0ff;
}

* {
   box-sizing: border-box;
}

h2 {
	color: #9400D3;
}

.item{
height: 180px;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_square {
    border: 2px solid #ffff99;
    width: 18%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.price {
	color: red;
	font-weight: bold;
}

button {
   background: #ffff99;
   font-size: 18px;
   border-radius: 5px;
}
